body{    
    background-color: #f0f6f7;
    display: block;
    background-size: cover; 
    font-family: 'Nunito Sans';
    font-size: 17px;
    text-align: justify;

    
  }
nav{
    text-align: right;
    margin-top: 23px;
}
hr{
    color:  rgb(97, 66, 46);
    width: 90%;
    margin-top: 5%;
    
}
a{
    transition: all .3s ease-out;
}
li{
    list-style-type: initial;
    padding: 0px;

}
em {
    font-family:'Sarala';
    margin-top: 400px;
    font-style: italic;
    color: #292a41;
    font-size: 16px;
    
    
}
h2{
    font-family: 'Quintessential', cursive;
    text-transform: uppercase;
    color: #eb9a31;   
    text-align: center;
    letter-spacing: 4px;
    font-size: 30px;
    margin-bottom: 5px;
    
}
h5{
    text-transform: uppercase;
    text-align: left;
    font-size: 17px;
    color: #0840db;    
    font-style: italic;
    font-family: 'Quintessential', cursive;

}
h3{
    text-align: center;
    font-weight: bold;
    color: #31941d;    
    font-style: italic;
    margin-top: 10px;
}
.contenido{    
    margin-top: 0px;
    padding-top: 80px;
    margin-left: 25%;    
    margin-right: 25px;    
    padding-bottom: 10px;
    border-radius: 12px;
}
.contmenu{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px; 
    background-image: url("../imagenes/fondo3.jpg");
    background-size: cover;       
  } 
 .contSubM{
    position: fixed;
    float: left;
    height: 100%;
    width: 20%;
    background-image: url("../imagenes/fondo3.jpg");
    top:60px;
    left: 0px;
    background-size: cover;  
  }

.submenu{
    font-family: 'Slabo 27px';
    font-size: 18px;
    margin-top: 110px;
    text-transform: uppercase;
    font-weight: bold;
    width: 23%;
    padding: auto;    
    
}
.submenu ul li a {
    list-style-type: initial;
    text-decoration: none;
    height: 20px;
    padding-left: 0px;
    color: #f0f6f7;
    
  }
  .submenu li{
    color: #f0f6f7;
    margin-top: 30px;
    margin-bottom: 30px;
    transition:all .1s ease;
  }
.menu{    
    margin: 20px 29px 20px 29px; 
    letter-spacing: 6px;    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
    font-family:  'Slabo 27px ';
    color: #eb9a31;    
    text-decoration: none;
    text-align: center;
    transition:all .1s ease;
    
  }  
.menu:hover{
    color: white;
    transform:scale(1.2);    
}
.selec{
    color: #31941d;
    
} 
.sele{
    
    border-bottom-style: groove; 
    border-color: #31941d;
    border-width: 8px;

    
} 
.submenu ul li a:hover{
    color: #eb9a31;
    transform:scale(1.2);    
}

.pDer{
    margin-left: 5%;  
}
.linkCuento{
    
    margin-left:18%;
    background-size: cover;  

}
.videoYoutube{
    width: 640px;
    height: 360px;
    display:block;
    margin:auto;
    padding-bottom: 20px
}
#iconList{
    list-style-image: url("../imagenes/jhs.png#")
}
#cita{
    text-transform: none;
     font-style: italic;
}
#img{
    padding-bottom: 10px;   
    padding-left: 9px; 
    margin: 4px 4px 3px 3px;
    display: block;    
    border-radius: 50%;
    float: right;
}
#med{
    text-align: center; 
    font-style: italic;
    margin-top: 3px;
    margin-bottom: 3px;
}
#fin{
    text-align-last: right;
    font-style: italic;
    margin-right: 8%;
    margin-top: 2px;
    margin-bottom: 2px;
}
#portada{
    margin:auto;
    padding: 19px;    
    display: block;
    float: left;
    margin-bottom: 12px;
    margin-right: 36px;
    transition: all .3s ease-out;
    background-size: cover;     
}
#port{    
    margin-top: 60px ;
    margin-left: 15px;
    float: center;
    display: block;
    transition: all .3s ease-out;
    width: 176px;
    height: 256px;
    padding-bottom: 20px    
}
#tarjeta{
    margin: auto;
    display: block;
    transition: all .3s ease-out;
    border-style: dotted;
}
#picture{   
        display: block;
        float: right;
        margin-top: 8%;
        margin-right: 15%;
        margin-left: 5%;
        margin-bottom: 5%;
        padding: 7px;    
        transition: all .3s ease-out;   
}
#picture:hover, #portada:hover,#tarjeta:hover,#port:hover{
    transform:scale(1.1);
    transform:(-4, 10px);
    box-shadow: 6px 8px 12px 0 #8a6c49;
}
#imgPrincipal{
    top: 60px;
    left: 20%;    
    display: block;
    height: 180px;
    width: 77%;
    position: relative;    
    border-style: groove; 
    box-shadow: -1px 7px 40px 6px rgb(167, 148, 128);
    float: center;
}
 #img:hover{
    transform:scale(1.1);
    box-shadow: 4px 7px 10px 0  #efa747;
}
#alin{
    width: 76%;
}